{% set
  siteNav =[
    {
      navUrl: '#ninja',
      navLabel: 'Ninja',
      navTrigger: 'ninja'
    },
    {
      navUrl: '#leonardo',
      navLabel: 'Leonardo',
      navTrigger: 'leonardo'
    },
    {
      navUrl: '#raphael',
      navLabel: 'Raphael',
      navTrigger: 'raphael'
    },
    {
      navUrl: '#michelangelo',
      navLabel: 'Michelangelo',
      navTrigger: 'michelangelo'
    },
    {
      navUrl: '#donatello',
      navLabel: 'Donatello',
      navTrigger: 'donatello'
    }
  ]
%}
